<!DOCTYPE html>
<html>
<head>
    <title>Editar Persona</title>
</head>
<body>
    <h1>Editar Persona</h1>
    <form method="post">
        {% csrf_token %}
        <label for="primer_nombre">Primer Nombre:</label>
        <input type="text" name="primer_nombre" value="{{ persona.primer_nombre }}" required><br>
        <label for="segundo_nombre">Segundo Nombre:</label>
        <input type="text" name="segundo_nombre" value="{{ persona.segundo_nombre }}"><br>
        <label for="apellido_paterno">Apellido Paterno:</label>
        <input type="text" name="apellido_paterno" value="{{ persona.apellido_paterno }}" required><br>
        <label for="apellido_materno">Apellido Materno:</label>
        <input type="text" name="apellido_materno" value="{{ persona.apellido_materno }}"><br>
        <label for="genero">Género:</label>
        <input type="text" name="genero" value="{{ persona.genero }}" required><br>
        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" value="{{ persona.telefono }}" required><br>
        <label for="correo">Correo:</label>
        <input type="email" name="correo" value="{{ persona.correo }}" required><br>
        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion" value="{{ persona.direccion }}" required><br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
